* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-bottom: 50px;
}

body {
  background-color: white;
}

h5 {
  color: $mainColor;
  padding-top: 15px;
  font-family: 'Lato', 'Arial', sans-serif;
}

h3 {
  font-family: 'Lato', 'Arial', sans-serif;
}

ul {
  list-style: none;
  li {
    display: table;
    margin-bottom: 20px;
    .recent-posts-content {
      padding-left: 15px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.info {
  color: #95979c;
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  &:hover {
    color: $mainColor;
    text-decoration: none;
  }
}

p {
  text-align: left;
}


// ------------HEADER-----------

header {
  &.bg-image {
    width: 1140px;
    margin: auto;
  }
}

// LOGO

.logo {
  margin: 0;
  font-family: 'Poiret One', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 200px;
  text-align: center;
  text-transform: uppercase;
  color: $mainColor;
}
.container-logo {
  padding-bottom: 10px;
  height: 200px;
  border-bottom: 1px solid #e8e8e8;
  width: 1140px;
  margin: auto;
}

// NAVIGATION

.btn {
  text-decoration: none;
  font-weight: 300;
  transition: color 0.2s ease;
  color: #2B303A;
  &:hover {
    color: $mainColor;
  }
}

.main-nav {
  position: fixed;
  width: 100%;
  top: 0;     // !
  box-shadow: 0 5px 5px rgba(0, 0, 0, .15);
  z-index: 2;
  list-style: none;
  font-family: 'Lato', 'Arial', sans-serif;
  text-align: center;
  padding-top: 20px;
  li {
    display: inline-block;
    margin-left: 40px;
    a {
      color: #2B303A;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 17px;
    }
  }
}

.navigation {
  position: relative;
  width: 1170px;
  margin: auto;
}

#menu {
  height: 80px;
  background: #fff;
  transition: all .3s;
}

.cont {
  display: inline-block;
  width: 920px;
  text-align: center;
}

.menu-tougle {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 25%;
  margin-top: -5px;
  right: 0;
}

.bar {
  width: 20px;
  height: 1px;
  margin-bottom: 4px;
  transition: background .2s;
  background: #2B303A;
}

.bar:nth-child(2) {
 width: 15px;
  margin-left: 5px;
}

.bar:last-child {
  margin-bottom: 0;
}

//.main-nav {
//list-style: none;
// font-family: 'Lato', 'Arial', sans-serif;
// text-align: center;
// padding-top: 20px;
// li {
// display: inline-block;
// margin-left: 40px;
// a {
// color: #2B303A;
// text-decoration: none;
// text-transform: capitalize;
// font-size: 20px;
// }
//}
//}

//.menu {
//position: relative;
// height: 100px;
//width: 1140px;
// margin: auto;
//}



// ------------POSTS-----------

.post {
  .post-container {
    padding: 20px 0;
    margin-top: 10px;
    margin-bottom: 20px;
    //background-color: #FFFAF9;
    text-align: center;
    position: relative;
    //border: 1px solid #F4EBE8;
    font-family: 'Lato', 'Arial', sans-serif;
    padding-top: 30px;
    header {
      padding-bottom: 20px;
      h3 {
        font-family: 'Lato', 'Arial', sans-serif;
      }
    }
  }

  .btn-cont {
    text-decoration: none;
    font-weight: 300;
    transition: color 0.2s ease;
    color: $mainColor;
    &:hover {
      color: #2B303A;
    }
  }


  // SMALL POSTS

  &.small {
    .post-container {
      padding-top: 0;
      .image-container {
        height: 240px;
        img {
          width: auto;
          height: 100%;
        }
      }
    }
  }

  .main-content {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #2B303A;
    h3 {
      font-family: 'Indie Flower', 'Arial', sans-serif;
    }
  }

  .content {
    //padding-bottom: 15px;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #2B303A;
    h3 {
      font-family: 'Indie Flower', 'Arial', sans-serif;
    }
  }
}

// ------------SIDEBAR-----------

.sidebar-container {
  padding: 20px 0;
  margin-top: 20px;
  position: relative;
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  text-align: center;
  header {
    padding-bottom: 20px;
    h3 {
      font-family: 'Josefin Sans', 'Arial', sans-serif;
    }
  }
}

.side-content {
  padding-top: 30px;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #2B303A;
  h3 {
    font-family: 'Indie Flower', 'Arial', sans-serif;
  }
}


.image-container {
  height: auto;
  img {
    position: relative;
    width: 30%;
  }
}

.big-image-container {
  img {
    position: relative;
    width: 749px;
    height: 400px;
  }
}

.recent-list {
  li {
    position: relative;
    width: 100%;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 10px;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-top: 1px solid #e8e8e8;
      bottom: -10px;
    }
  }
}

.recent-img {
  &:hover {
    opacity: 0.7;
  }
}

.list {
  li {
    position: relative;
    width: 100%;
    text-align: left;
    span {
      font-size: 80%;
      color: #2B303A;
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-top: 1px solid #e8e8e8;
        bottom: -20px;
      }
    }
  }
}

.recent-posts-content {
  display: inline-block;
  float: right;
  width: 130px;
  margin-right: 40px;
  h5 {
    margin-top: 0;
    h6 {
      font-family: 'Josefin Sans', 'Arial', sans-serif;
    }
  }
}

.newsletter-btn {
  padding-top: 20px;
  .btn-send {
    margin-top: 10px;
    &:focus, .btn {
      outline: none;
    }
  }
}

.gallery {
  .edit {
    padding: 0;
    img {
      width: 100%;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.icons {
  font-size: 150%;
  .icon {
    margin: 10px;
    &:hover {
      color: $mainColor;
    }
  }
}

.btn-primary {
  background-color: white;
  border-color: $mainColor;
  color: #2B303A;
  &:hover {
    background-color: $mainColor;
    border-color: $mainColor;
    color: white;
  }
}

// ------------FOOTER-----------

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #f4f0f0;
}

.footer-gallery {
  clear: both;
  overflow: hidden;
  li {
    float: left;
    width: 12.5%;
    list-style-type: none;
    display: inline-block;
    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 10px;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.footer-text {
  text-align: center;
  font-family: 'Lato', 'Arial', sans-serif;
  padding-bottom: 20px;
}

.footer-text-instagram {
  text-align: center;
  font-family: 'Lato', 'Arial', sans-serif;
  padding-bottom: 20px;
}

.footer {
  .icons {
    padding-top: 15px;
  }
}

