* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding-bottom: 50px;
}

body {
  background-color: #FFF4EA;
}

header {
  &.bg-image {
    background-image: url($headerBackgroundImage), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-size: cover;
    width: 1140px;
    margin: auto;
    background-position: center;
    height: 50vh;
  }
}


.logo {
  margin: 0;
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 200px;
  text-align: center;
  text-transform: uppercase;
  color: #75485E;
}
.container-logo {
  padding-bottom: 10px;
  height: 200px;
  border-bottom: 1px solid #e8e8e8;
  width: 1140px;
  margin: auto;
}

.menu {
  height: 100px;
  position: relative;
  width: 1140px;
  margin: auto;
}

.btn {
  text-decoration: none;
  font-weight: 300;
  transition: color 0.2s ease;
  &:hover {
    color: $mainColorDarken;
  }
}

.main-nav {
  float: right;
  list-style: none;
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  li {
    display: inline-block;
    margin-left: 25px;
    a {
      color: $mainColor;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 25px;
    }
  }
}

.header-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-family: 'Reenie Beanie', 'Arial', sans-serif;
  font-weight: 100;
  text-align: center;
  p {
    margin-top: 30%;
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px;
  }
}

.post {
  .post-container {
    padding: 20px 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFFAF9;
    text-align: center;
    position: relative;
    border: 1px solid #F4EBE8;
    font-family: 'Lobster', 'Arial', sans-serif;
    header {
      padding-bottom: 20px;
      h3 {
        font-family: 'Didact Gothic', 'Arial', sans-serif;
      }
    }
  }

  &.small {
    .post-container {
      padding-top: 0;
      .image-container {
        height: 240px;
        img {
          width: auto;
          height: 100%;
        }
      }
    }
  }

  .image-container {
    overflow: hidden;
    height: 400px;
    position: relative;
    img {
      position: absolute;
      left: 0;
      width: 100%;
    }
  }

  .content {
    padding: 20px;
    font-family: 'Lato', 'Arial', sans-serif;
    color: dimgrey;
    h3 {
      font-family: 'Indie Flower', 'Arial', sans-serif;
    }
  }
}

.sidebar {
  .image-container {
    height: auto;
    img {
      position: relative;
      width: 30%;
    }
  }
}

.newsletter-btn {
  padding: 20px;
  .btn-send {
    margin-top: 10px;
  }
}

.gallery {
  .edit {
    padding: 0;
    img {
      width: 100%;
    }
  }
}

.icons {
  font-size: 150%;
  .icon {
    margin: 10px;
    &:hover {
      color: $mainColorDarken;
    }
  }
}

/*.post-list {
  box-shadow: 0 2px 5px rgba(91,81,73,0.08);
}*/

.entry-title {
  margin-top: 3px;
  color: #2f2e2e;
  font-size: 13px;
  font-weight: 400;
}

.posted-on {
  display: block;
  margin-top: 8px;
  color: #bbb;
  font-size: 12px;
  font-weight: 400;
}

ul {
  list-style: none;
  li {
    display: table;
    margin-bottom: 20px;
    .recent-posts-content {
      padding-left: 15px;
      display: table-cell;
      vertical-align: middle;
      h5 {
        color: rgba(0, 0, 0, 0.8);
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        a {
          color: inherit;
          text-decoration: none;
          display: inline-block;
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s;
          span {
            font-family: "Lato", serif;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.6);
            font-style: italic;
            line-height: 26px;
            .recent-posts-img {
              width: 55px;
              height: 55px;
              float: left;
            }
          }
        }
      }
    }
  }
}

.recent-posts-img {
  padding-left: 20px;
}

.lista {
  li {
    position: relative;
    width: 100%;
    &:after {
      position: absolute;
      content: '';
      width: 60%;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-top: 1px solid #f2dede;
      bottom: -20px;
    }
    &:last-child:after {
      border: none;
    }
  }
}

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: white;
}

.footer-gallery {
  clear: both;
  overflow: hidden;
  li {
    float: left;
    width: 12.5%;
    list-style-type: none;
    display: inline-block;
    img {
      display: inline-block;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: opacity 0.2s;
      padding: 10px;
    }
  }
}

.footer-text {
  text-align: center;
  font-family: 'Lato', 'Arial', sans-serif;
  padding-bottom: 20px;
}

.footer-text-gallery {
  text-align: center;
  font-family: 'Lato', 'Arial', sans-serif;
  padding-bottom: 30px;
}

.footer {
  .icons {
    padding-top: 15px;
  }
}

.btn-primary {
  background-color: #EB9486;
  border-color: #A26769;
  &:hover {
    background-color: #A26769;
    border-color: #A26769;
    color: white;
  }
}
