* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  padding-bottom: 50px; }

body {
  background-color: white; }

h5 {
  color: #061A40;
  padding-top: 15px;
  font-family: 'Didact Gothic', 'Arial', sans-serif; }

ul {
  list-style: none; }
  ul li {
    display: table;
    margin-bottom: 20px; }
    ul li .recent-posts-content {
      padding-left: 15px;
      display: table-cell;
      vertical-align: middle; }

header.bg-image {
  width: 1140px;
  margin: auto; }

.logo {
  margin: 0;
  font-family: 'Poiret One', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 200px;
  text-align: center;
  text-transform: uppercase;
  color: #111D4A; }

.container-logo {
  padding-bottom: 10px;
  height: 200px;
  border-bottom: 1px solid #e8e8e8;
  width: 1140px;
  margin: auto; }

.menu {
  height: 100px;
  position: relative;
  width: 1140px;
  margin: auto; }

.btn {
  text-decoration: none;
  font-weight: 300;
  transition: color 0.2s ease; }
  .btn:hover {
    color: #2541B2; }

.main-nav {
  float: right;
  list-style: none;
  font-family: 'Josefin Sans', 'Arial', sans-serif; }
  .main-nav li {
    display: inline-block;
    margin-left: 25px; }
    .main-nav li a {
      color: #4D7EA8;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 25px; }

.header-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-family: 'Reenie Beanie', 'Arial', sans-serif;
  font-weight: 100;
  text-align: center; }
  .header-text-box p {
    margin-top: 30%;
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px; }

.post .post-container {
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFFAF9;
  text-align: center;
  position: relative;
  border: 1px solid #F4EBE8;
  font-family: 'Lobster', 'Arial', sans-serif; }
  .post .post-container header {
    padding-bottom: 20px; }
    .post .post-container header h3 {
      font-family: 'Didact Gothic', 'Arial', sans-serif; }
.post.small .post-container {
  padding-top: 0; }
  .post.small .post-container .image-container {
    height: 240px; }
    .post.small .post-container .image-container img {
      width: auto;
      height: 100%; }
.post .content {
  padding: 20px;
  font-family: 'Lato', 'Arial', sans-serif;
  color: #2B303A; }
  .post .content h3 {
    font-family: 'Indie Flower', 'Arial', sans-serif; }

.sidebar-container {
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  font-family: 'Lobster', 'Arial', sans-serif; }
  .sidebar-container header {
    padding-bottom: 20px; }
    .sidebar-container header h3 {
      font-family: 'Didact Gothic', 'Arial', sans-serif; }

.image-container {
  height: auto; }
  .image-container img {
    position: relative;
    width: 30%; }

.big-image-container img {
  position: relative;
  width: 749px;
  height: 400px; }

.list li {
  position: relative;
  width: 100%;
  text-align: left; }
  .list li:after {
    position: absolute;
    content: '';
    width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top: 1px solid #f2dede;
    bottom: -20px; }
  .list li:last-child:after {
    border: none; }

.newsletter-btn {
  padding: 20px; }
  .newsletter-btn .btn-send {
    margin-top: 10px; }

.gallery .edit {
  padding: 0; }
  .gallery .edit img {
    width: 100%; }

.icons {
  font-size: 150%; }
  .icons .icon {
    margin: 10px; }
    .icons .icon:hover {
      color: #4D7EA8; }

.btn-primary {
  background-color: #4D7EA8;
  border-color: #4D7EA8; }
  .btn-primary:hover {
    background-color: #2541B2;
    border-color: #2541B2;
    color: white; }

.footer {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #FFFAF9; }

.footer-gallery {
  clear: both;
  overflow: hidden; }
  .footer-gallery li {
    float: left;
    width: 12.5%;
    list-style-type: none;
    display: inline-block; }
    .footer-gallery li img {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 10px; }
      .footer-gallery li img:hover {
        opacity: 1;
        transition: opacity 0.2s;
        background-color: #A26769; }

.footer-text {
  text-align: center;
  font-family: 'Lato', 'Arial', sans-serif;
  padding-bottom: 20px; }

.footer-text-instagram {
  text-align: center;
  font-family: 'Lato', 'Arial', sans-serif;
  padding-bottom: 20px; }

.footer .icons {
  padding-top: 15px; }

/*# sourceMappingURL=style.css.map */
