* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #FFF4EA; }

header.bg-image {
  background-image: url("../img/header/mountain_2.jpg"), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-size: cover;
  width: 1140px;
  margin: auto;
  background-position: center;
  height: 50vh; }

.logo {
  margin: 0;
  font-family: 'Josefin Sans', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 72px;
  line-height: 200px;
  text-align: center;
  text-transform: uppercase;
  color: #B2967D; }

.container-logo {
  padding-bottom: 10px;
  height: 200px;
  border-bottom: 1px solid #e8e8e8;
  width: 1140px;
  margin: auto; }

.menu {
  height: 100px;
  position: relative;
  width: 1140px;
  margin: auto; }

.btn {
  text-decoration: none;
  font-weight: 300;
  transition: color 0.2s ease; }
  .btn:hover {
    color: #c8a582; }

.main-nav {
  float: right;
  list-style: none;
  font-family: 'Josefin Sans', 'Arial', sans-serif; }
  .main-nav li {
    display: inline-block;
    margin-left: 25px; }
    .main-nav li a {
      color: #E7D8C9;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 25px; }

.header-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  font-family: 'Lobster', 'Arial', sans-serif;
  font-weight: 100;
  text-align: center; }
  .header-text-box p {
    margin-top: 30%;
    color: #fff;
    font-size: 200%;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 4px; }

.post .post-container {
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFFAF9;
  text-align: center;
  position: relative;
  border: 1px solid #F4EBE8;
  font-family: 'Lobster', 'Arial', sans-serif; }
  .post .post-container header {
    padding-bottom: 20px; }
    .post .post-container header h3 {
      font-family: 'Didact Gothic', 'Arial', sans-serif; }
.post.small .post-container {
  padding-top: 0; }
  .post.small .post-container .image-container {
    height: 240px; }
    .post.small .post-container .image-container img {
      width: auto;
      height: 100%; }
.post .image-container {
  overflow: hidden;
  height: 400px;
  position: relative; }
  .post .image-container img {
    position: absolute;
    left: 0;
    width: 100%; }
.post .content {
  padding: 20px;
  font-family: 'Lato', 'Arial', sans-serif;
  color: dimgrey; }
  .post .content h3 {
    font-family: 'Indie Flower', 'Arial', sans-serif; }

.sidebar .image-container {
  height: auto; }
  .sidebar .image-container img {
    position: relative;
    width: 30%; }

.newsletter-btn {
  padding: 20px; }
  .newsletter-btn .btn-send {
    margin-top: 10px; }

.gallery .edit {
  padding: 0; }
  .gallery .edit img {
    width: 100%; }

.icons {
  font-size: 150%; }
  .icons .icon {
    margin: 10px; }
    .icons .icon:hover {
      color: #c8a582; }

/*.post-list {
  box-shadow: 0 2px 5px rgba(91,81,73,0.08);
}*/
.entry-title {
  margin-top: 3px;
  color: #2f2e2e;
  font-size: 13px;
  font-weight: 400; }

.posted-on {
  display: block;
  margin-top: 8px;
  color: #bbb;
  font-size: 12px;
  font-weight: 400; }

ul {
  list-style: none; }
  ul li {
    display: table;
    margin-bottom: 20px; }
    ul li .recent-posts-content {
      padding-left: 15px;
      display: table-cell;
      vertical-align: middle; }
      ul li .recent-posts-content h5 {
        color: rgba(0, 0, 0, 0.8);
        font-size: 15px;
        line-height: 18px;
        font-weight: 400; }
        ul li .recent-posts-content h5 a {
          color: inherit;
          text-decoration: none;
          display: inline-block;
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s; }
          ul li .recent-posts-content h5 a span {
            font-family: "Lato", serif;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.6);
            font-style: italic;
            line-height: 26px; }
            ul li .recent-posts-content h5 a span .recent-posts-img {
              width: 55px;
              height: 55px;
              float: left; }

.recent-posts-img {
  padding-left: 20px; }

.lista li {
  position: relative;
  width: 100%; }
  .lista li:after {
    position: absolute;
    content: '';
    width: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-top: 1px solid #f2dede;
    bottom: -20px; }
  .lista li:last-child:after {
    border: none; }

/*# sourceMappingURL=style.css.map */
